/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/stylus-loader/dist/cjs.js??ruleSet[1].rules[5].use[3]!./src/assets/styl/output/main.styl ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.bleeding-left-right {
  margin-left: calc((((100vw - 100%) / 2)) * -1);
  margin-right: calc((((100vw - 100%) / 2)) * -1);
}
.bleeding-left {
  margin-left: calc((((100vw - 100%) / 2)) * -1);
}
.bleeding-right {
  margin-right: calc((((100vw - 100%) / 2)) * -1);
}
.bleeding-background-left-right {
  background: #000;
  margin-left: calc((((100vw - 100%) / 2)) * -1);
  margin-right: calc((((100vw - 100%) / 2)) * -1);
  padding-left: calc((((100vw - 100%) / 2)));
  padding-right: calc((((100vw - 100%) / 2)));
}
.bleeding-background-left {
  background: #000;
  margin-left: calc((((100vw - 100%) / 2)) * -1);
  padding-left: calc((((100vw - 100%) / 2)));
}
.bleeding-background-right {
  background: #000;
  margin-right: calc((((100vw - 100%) / 2)) * -1);
  padding-right: calc((((100vw - 100%) / 2)));
}
html {
  overflow-x: hidden;
}
body {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  box-sizing: border-box;
  min-width: 320px;
  color: #fff;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.5em;
}
.holder {
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 414px) {
  .holder {
    max-width: 320px;
  }
}
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .holder {
    max-width: 640px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .holder {
    max-width: 960px;
  }
}
@media screen and (min-width: 1441px) {
  .holder {
    max-width: 1280px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ca0;
  font-family: Verdana;
  font-weight: 400;
  line-height: 1em;
}
hr {
  border: 0;
  border-top: solid 1px;
  margin: 2rem auto 4rem;
}
a.reset {
  text-decoration: none;
}
figure {
  display: block;
  margin: 0;
  width: 100%;
}
picture {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
}
picture img {
  display: block;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  text-align: center;
  text-shadow: none;
  border-radius: 0.5em;
  line-height: 1.25em;
  height: 2.7em;
  padding: 0 1.5em;
}
.btn-square {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  text-align: center;
  text-shadow: none;
  border-radius: 0.5em;
  line-height: 1.25em;
  height: 2.7em;
  width: 2.7em;
}
.btn-pill {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  text-align: center;
  text-shadow: none;
  line-height: 1.25em;
  height: 2.7em;
  border-radius: 1.35em;
  padding: 0 1.5em;
}
.btn-bullet {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  text-align: center;
  text-shadow: none;
  line-height: 1.25em;
  height: 2.7em;
  border-radius: 1.35em;
  width: 2.7em;
}
.button {
  border-style: solid;
  border-color: inherit;
  background: #c00;
  border-width: 2px;
  color: #fff;
  font-family: Verdana;
  transition: background 0.3s ease-out;
}
.button:hover {
  background: #ca0;
}
.button:focus {
  background: #000;
}
.button:focus:hover {
  background: #ca0;
}
.cta {
  border-style: solid;
  border-color: inherit;
  background: rgba(204,0,0,0);
  border-width: 4px;
  color: #c00;
  font-family: Arial;
  transition: background 0.3s ease-out, color 0.3s ease-out;
}
.cta:hover {
  background: #c00;
  color: #fff;
}
.cta:focus {
  background: #000;
  color: #ca0;
}
.cta:focus:hover {
  background: #c00;
  color: #fff;
}
.hero {
  position: relative;
}
.hero .text-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero .text-content h1,
.hero .text-content h2,
.hero .text-content h3,
.hero .text-content h4,
.hero .text-content h5,
.hero .text-content h6 {
  margin: 0;
}
.hero .text-content p {
  margin-bottom: 0;
}
@media screen and (max-width: 414px) {
  .hero.type-01 picture {
    padding-top: 133.33%;
  }
}
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .hero.type-01 picture {
    padding-top: 56.25%;
  }
}
@media screen and (min-width: 1025px) {
  .hero.type-01 picture {
    padding-top: 33.33%;
  }
}
.hero.type-01 .text-content {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1025px) {
  .hero.type-01 .text-content {
    padding-right: 33.33%;
  }
}
.hero.type-01 .text-content h1,
.hero.type-01 .text-content h2,
.hero.type-01 .text-content h3,
.hero.type-01 .text-content h4,
.hero.type-01 .text-content h5,
.hero.type-01 .text-content h6,
.hero.type-01 .text-content p {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}
@media screen and (max-width: 414px) {
  .hero.type-01 .text-content h1,
  .hero.type-01 .text-content h2,
  .hero.type-01 .text-content h3,
  .hero.type-01 .text-content h4,
  .hero.type-01 .text-content h5,
  .hero.type-01 .text-content h6 {
    font-size: 22px;
  }
}
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .hero.type-01 .text-content h1,
  .hero.type-01 .text-content h2,
  .hero.type-01 .text-content h3,
  .hero.type-01 .text-content h4,
  .hero.type-01 .text-content h5,
  .hero.type-01 .text-content h6 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .hero.type-01 .text-content h1,
  .hero.type-01 .text-content h2,
  .hero.type-01 .text-content h3,
  .hero.type-01 .text-content h4,
  .hero.type-01 .text-content h5,
  .hero.type-01 .text-content h6 {
    font-size: 46px;
  }
}
@media screen and (max-width: 414px) {
  .hero.type-01 .text-content p {
    font-size: 14px;
  }
}
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .hero.type-01 .text-content p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  .hero.type-01 .text-content p {
    font-size: 18px;
  }
}
.hero.type-01 .text-content .button {
  font-size: 16px;
}


/*# sourceMappingURL=main-8c19a6.css.map*/